header{
    h1 {color: aliceblue;
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 10px 5px 20px #f7f4f4;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-underline-position: under;
    text-transform: uppercase;
    text-align: left;
    text-indent: 20px;
    text-justify: inter-character;
    text-align-last: left;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-decoration-skip: objects;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-underline-position: under;
    text-transform: uppercase;
    text-align: left;
    text-indent: 20px;
    text-justify: inter-character;
    text-align-last: left;
    text-decoration-style: wavy;
     }   
    background-image: url(imagenes/cutsie_edited.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
    margin: 0;
    box-shadow: rgb(0, 0, 0) 0px 50px 20px;
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
    h1 {
        color: aliceblue;
        text-align: left;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        text-shadow: 10px 5px 20px #f7f4f4;
        margin: 0;
        padding: 0;
        text-decoration: underline;
        text-decoration-color: #ffffff;
        text-decoration-thickness: 2px;
        text-underline-offset: 5px;
        text-underline-position: under;
        text-transform: uppercase;
        text-align: left;
        text-indent: 20px;
        text-justify: inter-character;
        text-align-last: left;
    }
  

}
body{cursor: none;
}
.cursor{
    cursor: url(imagenes/fk\ you.jpeg), auto;
}

nav {text-align: center;
    list-style-type: lower-latin;
    margin-top: 50px;
    font-size: 28px;
}
nav ul li{display: inline;
    margin-right: 20px;
padding: 20px;
list-style-type: lower-latin;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
nav ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
    padding: 0;
    box-shadow: 0 0 12px rgb(0, 0, 0);
}

    



  

